{% extends 'base/base.html'%}
{% load static%}
{% block content%}


<main class=" flex  gap-8 p-2">
        <section class="w-5/6">
          <!-- room details  -->
          <div class="m-1">
            <div class="flex justify-between py-1">
              <p class="text-slate-50	uppercase">{{room.name}}</p>

              <div class="flex gap-2">
                {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}">
                  <div class="flex">
                    <p title="edit room"><img
                      src="{% static 'images/pen.png' %}"
                      alt="edit"
                      class="w-6 bg-white rounded-full p-1"
                    /></p>
                  </div>
                </a>
        
                <a href="{% url 'delete-room' room.id %}">
                  <div class="flex">
                    <p title="delete room">       
                      <img
                      src="{% static 'images/delete.png' %}"
                      alt="delete"
                      class="w-6 bg-white rounded-full p-1"
                    /></p>
                  </div>
                </a>
                {% endif %}
               </div>
            </div>




            <p class="text-slate-50	">{{room.description}}</p>   


          </div>  

            <!-- room details  -->



              <div class="gap-4 p-2 m-1 bg-black rounded-lg		"
                    style="height: 75dvh; display: grid; grid-template-rows: 90% 10%;"              
              >

              <div class="flex flex-col gap-1 overflow-y-scroll"
              style="grid-row: 1/2;">
                {% for message in room_messages %}


                  <div class="p-1 " 
                  style="border-left: 1px solid #1FB8FF; margin-right: 0.5em;">

                    <p class="text-slate-50	">@{{message.user}} {{message.created|timesince}}</p>

                    <div class="flex justify-between gap-1">
                      <p class="text-slate-50 ">{{message.body}}</p>

                      {% if request.user == message.user %}
                      <a href="{% url 'delete-message' message.id %}">
                        <img
                        src="{% static 'images/delete.png' %}"
                        alt="delete"
                        class="w-6 bg-white rounded-full p-1"
                        title="delete message"
                      />
                      </a>
                      {%endif%}
                    </div>

                  </div>

                {% endfor %}
                </div>

                {% if request.user.is_authenticated %}
                <div 
                style="grid-row: 2/3;"
                class="w-full">
                  <form method="POST">
                    {% csrf_token %}
                    <input 
                    type="text" 
                    name="message" 
                    placeholder="Write your message.....press Enter to send"
                    class="outline-0 w-full	p-1 rounded-lg	font-medium	">
                  </form>
                </div>
                {% endif %}

              </div>
          
        </section>


         <div>
            <p class="text-slate-50	">Participants</p>


            {% for participant in participants %}
            <div class="participants">
                <p class="text-slate-50	">@ b/{{participant.username }}</p>
        
        
            </div>
            {% endfor %}
         </div>


         
  

</main>
{% endblock content%}





