:root{
  --main-color: #13293D;
  --p-color:#1FB8FF;
  --accent-color: #D8DAD3;
  --radius:0.5em;
  --bg-color:#114C6A;
  --margin-half : 0.5em;
  --padding-full: 1em;
  --padding-half: 0.5em;
  --font: "Rubik", sans-serif;
  }


.sidebar-b{
  padding-top: var(--padding-half);
}

.browse{
  color: var(--accent-color);
  font-size: 1.1rem;
  font-family: var(--font);
  font-weight: 500;
}

.all,.other-topics{
  color: var(--accent-color);
}